repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          - -rn
          - -sn
          - --rcfile=.pylintrc
          - --load-plugins=pylint.extensions.docparams

  - repo: local
    hooks:
      - id: requirements
        name: Generate requirements.txt
        entry: bash -c 'venv/bin/pip3 freeze > requirements.txt'
        language: system
        pass_filenames: false
        stages: [commit]