astroid==4.0.4
cfgv==3.5.0
dill==0.4.1
distlib==0.4.0
filelock==3.24.3
identify==2.6.16
isort==8.0.0
mccabe==0.7.0
nodeenv==1.10.0
platformdirs==4.9.2
pre_commit==4.5.1
pylint==4.0.5
PyYAML==6.0.3
tomlkit==0.14.0
virtualenv==20.39.0
